@charset "utf-8";

.wizard-tags * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wizard-tags .autocomplete-list {
	float: left;
	width: 100%;
	background-color: white;
	border: 1px solid #777;
	overflow-x: hidden;
	overflow-y: auto;
	list-style-type: none;
}

.wizard-tags .autocomplete-list li {
	padding: 5px;
	border-top: 1px solid #aaa;
}

.wizard-tags .autocomplete-list li:first-child {
	border-top: 0;
}

.wizard-tags .tag-view {
	margin: 5px 0 5px 5px;
	border: 1px solid #777;
}

.wizard-tags .tag-view:first-child {
	margin-left: 0;
}

.wizard-tags .tag-view .text {
	padding: 0 5px;
}

.wizard-tags .tag-view .remove-button:after {
	content: '\002715';
	display: inline-block;
	width: 1.5em;
	border-left: 1px solid #aaa;
	text-align: center;
}

