@charset "utf-8";

.wizard-tags * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wizard-tags .wizard-tags-autocomplete-list {
	float: left;
	width: 100%;
	background-color: white;
	border: 1px solid #777;
	overflow-x: hidden;
	overflow-y: auto;
	list-style-type: none;
}

.wizard-tags .wizard-tags-autocomplete-list li {
	padding: 5px;
}

.wizard-tags .wizard-tags-autocomplete-list li:not(:first-child) {
	border-top: 1px solid #aaa;
}

